/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .input_section h2 {
        font-size: 20px;
    }

    .book_shelf h2 {
        font-size: 20px;
    }
}
/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .column {
        width: 90%;
    }
}